<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" scanPeriod="60 seconds" debug="false">

    <!-- 应用名称 -->
    <property name="APP_NAME" value="day37_sl4j_07_logback" />

    <!--日志文件输出的目录-->
    <property name="LOG_HOME" value="./log" />

    <!-- 日志输出格式 -->
    <property name="ENCODER_PATTERN"
              value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n" />


    <contextName>${APP_NAME}</contextName>

    <!-- 控制台日志：输出全部日志到控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${ENCODER_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- 文件日志：输出全部日志到文件 -->
    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Ecndoing>UTF_8</Ecndoing>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/output1.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志保留时间 7天-->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>

    </appender>

    <!-- 错误日志：用于将错误日志输出到独立文件 -->
    <appender name="error_file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
    </appender>


    <!-- 指定包下的class指定不同的日志级别等-->
    <!--<logger name="com.qf.sl4j.test.Sl4jTest" level="info" >-->
        <!--<appender-ref ref="console" />-->
    <!--</logger>-->

    <root>
        <level value="debug" />
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
        <!--<appender-ref ref="error_file" />-->
    </root>
</configuration>