<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.IPermissionDao" >

  <resultMap id="BaseResultMap" type="com.qf.entity.Permission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="per_name" property="perName" jdbcType="VARCHAR" />
    <result column="per_url" property="perUrl" jdbcType="VARCHAR" />
    <result column="per_code" property="perCode" jdbcType="VARCHAR" />
    <result column="per_pid" property="perPid" jdbcType="INTEGER" />
    <result column="per_type" property="perType" jdbcType="INTEGER" />

  </resultMap>
  
  <resultMap id="perZtreeResultMap" type="permission" extends="BaseResultMap">
    <result column="is_parent" property="isParent"/>
  </resultMap>

  <resultMap id="perListResultMap" type="permission" extends="BaseResultMap">
    <result column="per_pname" property="perPname"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, per_name, per_url, per_code, per_pid, per_type
  </sql>

  <select id="selectById" resultMap="perListResultMap" parameterType="java.lang.Integer" >
        SELECT
          per.*, ifnull(p.per_name, '无') as per_pname
      FROM
          t_permission per
      LEFT JOIN t_permission p ON (per.per_pid = p.id)
      where per.id= #{id}
  </select>

  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.qf.entity.Permission" >
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="perName != null" >
        per_name,
      </if>
      <if test="perUrl != null" >
        per_url,
      </if>
      <if test="perCode != null" >
        per_code,
      </if>
      <if test="perPid != null" >
        per_pid,
      </if>
      <if test="perType != null" >
        per_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="perName != null" >
        #{perName,jdbcType=VARCHAR},
      </if>
      <if test="perUrl != null" >
        #{perUrl,jdbcType=VARCHAR},
      </if>
      <if test="perCode != null" >
        #{perCode,jdbcType=VARCHAR},
      </if>
      <if test="perPid != null" >
        #{perPid,jdbcType=INTEGER},
      </if>
      <if test="perType != null" >
        #{perType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.qf.entity.Permission" >
    update t_permission
    <set >
      <if test="perName != null" >
        per_name = #{perName,jdbcType=VARCHAR},
      </if>
      <if test="perUrl != null" >
        per_url = #{perUrl,jdbcType=VARCHAR},
      </if>
      <if test="perCode != null" >
        per_code = #{perCode,jdbcType=VARCHAR},
      </if>
      <if test="perPid != null" >
        per_pid = #{perPid,jdbcType=INTEGER},
      </if>
      <if test="perType != null" >
        per_type = #{perType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 删除一条信息 -->
  <delete id="deleteById">
    delete from t_permission where id = #{id}
  </delete>

  <select id="selectList" resultMap="perListResultMap">
    SELECT
        per.*, ifnull(p.per_name, '无') as per_pname
    FROM
        t_permission per
    LEFT JOIN t_permission p ON (per.per_pid = p.id)
  </select>

  <select id="getPerListByPid" resultMap="perZtreeResultMap">
         SELECT
          p.*,
          subp.id AS is_parent
      FROM
          t_permission p
      LEFT JOIN t_permission subp ON (p.id = subp.per_pid)
      WHERE
          p.per_pid = #{id}
      group by p.id;
  </select>

  <delete id="batchDel">
    delete from t_permission where id in
    <foreach collection="list" open="(" close=")" item="id" separator=",">
      #{id}
    </foreach>
  </delete>

</mapper>